
#忽略.class文件

*.class

#忽略Eclipse生成的settings文件夹

.settings/

忽略Eclipse生成的externalToolBuilders文件夹

.externalToolBuilders/

#忽略lib目录下的jar包

WebRoot/WEB-INF/lib/


#忽略编译文件夹

classes/
sc-common/.classpath

sc-common/.classpath

sc-common/.project

*.prefs

*.prefs

sc-zb/.settings/org.eclipse.wst.validation.prefs

sc-common/.classpath

sc-common/.settings/org.eclipse.jdt.core.prefs

sc-zb/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-zb/pom.properties

sc-zb/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

sc-sso/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-sso/pom.properties

sc-sso/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

sc-portal/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-portal/pom.properties

sc-portal/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

sc-manager/sc-manager-web/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-manager-web/pom.properties

*.MF

sc-manager/sc-manager-service/target/classes/META-INF/maven/com.sc/sc-manager-service/pom.properties

*.MF

*.class
sc-manager/sc-manager-web/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-manager-web/pom.properties
sc-portal/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-portal/pom.properties
sc-sso/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-sso/pom.properties
sc-zb/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-zb/pom.properties
=======

sc-common/.classpath

sc-common/.classpath

sc-common/.classpath

sc-common/.classpath

sc-common/.classpath

sc-common/.project

*.component

sc-common/.classpath

sc-common/.classpath

*.component

sc-common/.project

sc-common/.settings/org.eclipse.wst.common.project.facet.core.xml

*.MF

sc-common/.classpath

*.component

sc-common/target/classes/META-INF/maven/com.sc/sc-common/pom.properties

sc-common/target/classes/META-INF/maven/com.sc/sc-common/pom.properties
*.class
*.MF
sc-manager/sc-manager-mapper/target/classes/META-INF/maven/com.sc/sc-manager-mapper/pom.properties
sc-manager/sc-manager-pojo/target/classes/META-INF/maven/com.sc/sc-manager-pojo/pom.properties
sc-manager/sc-manager-service/target/classes/META-INF/maven/com.sc/sc-manager-service/pom.properties
sc-manager/sc-manager-web/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-manager-web/pom.properties
sc-portal/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-portal/pom.properties
sc-sso/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-sso/pom.properties
sc-zb/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-zb/pom.properties
sc-common/.classpath
*.component
sc-common/.settings/org.eclipse.wst.common.project.facet.core.xml
sc-manager/sc-manager-pojo/target/test-classes/com/sc/mapper/MenuMapper.xml
sc-manager/sc-manager-pojo/target/test-classes/com/sc/test/GeneratorMybatis.class
sc-manager/sc-manager-pojo/target/test-classes/com/sc/mapper/RoleMenuMapper.xml
