
*.MF
*.class
*.classpath
*/pom.properties
*.prefs
*.jsdtscope
.settings/*
*.component
sc-portal/.classpath
sc-portal/.classpath
sc-sso/.classpath
sc-sso/.project
sc-zb/.classpath
sc-zb/.project
*.container
*.name
*.swp
sc-portal/.settings/*
sc-zb/.settings/*
sc-sso/.settings/*
pom.properties
sc-manager/sc-manager-mapper/target/classes/META-INF/maven/com.sc/sc-manager-mapper/pom.properties
sc-manager/sc-manager-pojo/target/classes/META-INF/maven/com.sc/sc-manager-pojo/pom.properties
sc-manager/sc-manager-service/target/classes/META-INF/maven/com.sc/sc-manager-service/pom.properties
sc-manager/sc-manager-web/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-manager-web/pom.properties
sc-portal/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-portal/pom.properties
sc-sso/target/m2e-wtp/web-resources/META-INF/maven/com.sc/sc-sso/pom.properties
sc-manager/sc-manager-pojo/target/test-classes/mybatis_generator.xml
